<!-- Footer -->
<footer class="page-footer font-small teal darken-1">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
     Made by V.Kniaziuk & V.Hutsul</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->