<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
     Made by <a href="https://www.facebook.com/profile.php?id=100005106675676">Bohdan Kapko, a.k.a Samson</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->